/* CSS declarations go here */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes dropIn {
    0%  {transform: translateY(-50px); opacity: 0;}
    20% {opacity: 1;}
    50% {transform: translateY(0);}
    60% {transform: rotate(-10deg);}
    70% {transform: rotate( 5deg);}
    80% {transform: rotate(-2.5deg);}
    90% {transform: rotate( 1.25deg);}
    100% {transform: rotate(0deg);}
}

.fade-in{
    -webkit-animation: fadeIn ease-in 0.1s;
}
/*
 * LAYOUT
 */
body{
    margin: auto;
    box-sizing: content-box;
    font-family: "courier new";
    font-family: arial;
}

#room-map, #room-list, #room-editor{
    box-sizing: border-box;
}

#room-map{
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#room-map .leaflet-bar{
    box-shadow: none;
    border-radius: 0;
    background: cyan;
    color: white;
}
#room-map .leaflet-bar a, #room-map .leaflet-bar a:first-child, #room-map .leaflet-bar a:last-child{
    border-radius: 0;
    background-color: cyan;
    color: white;
}

#room-map .marker .flag{
    position: absolute;
    top: -22px;
    left: -1px;
    -webkit-transform-origin-y: 20px;
    -webkit-animation: dropIn ease-in 0.5s;
    -webkit-animation-fill-mode:forwards;
}
#room-map .marker-pin{
    position: absolute;
    top: -2px;
    left: -2px;
    background-color: hsla(0,0%,0%,0.3);
    width: 4px;
    height: 4px;
    border-radius: 100%;
}

#room-map .marker-label{
    position: absolute;
    top: 2px;
    left: -5px;
    -webkit-animation: fadeIn ease-in 0.1s;
    white-space: nowrap;
    background-color: yellow;
    color: hsla(0,0%,30%,1);
}
#room-map .marker-label.selected{
    background-color: cyan;
}
#room-list{
    width: 10em;
}

aside{
    position: fixed;
    right: 0;
    top: 7em;
    text-align: right;
}

#timerange{
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 1em 1em;
    padding-left: 46px;
    box-sizing: border-box;
}

/*
 * RESET
 */
ul{
    margin: 0;
}
.leaflet-div-icon{
    background: none;
    border: none;
}
/*
 * STYLE
 */
.selected{
    background-color: yellow;
}
/*
 * MODULES
 */
 /* button */
 .button{
    cursor: pointer;
 }
/* noUiSlider*/
body .noUi-target{
    border: none;
    box-shadow: none;
}
body .noUi-horizontal .noUi-handle {
    width: 10px;
    left: -5px;
    height: 18px;
    top: 0;
    background: cyan;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
body .noUi-horizontal .noUi-handle:after, body .noUi-horizontal .noUi-handle:before{
    display: none;
}
body .noUi-connect{
    box-shadow: none;
    background-color: white;
    background-image: url(/rectangles.svg)
}
body .noUi-background{
    box-shadow: none;
    background: white;;
}
body .noUi-dragable{
    cursor: ew-resize;
}
body .noUi-handle.noUi-handle-upper{
    cursor: e-resize;
}
body .noUi-handle.noUi-handle-lower{
    cursor: w-resize;
}
 /*slider*/
 .ui-slider{
    position: relative;
    background-color: hsla(0,0%,0%,0.3);
    height: 10px;
    padding-right: 10px;
}
.ui-slider-handle{
    position: absolute;
    width: 10px;
    height: 10px;
    background: cyan;
    display: block;
    outline: none;
}
.ui-slider-handle:nth-of-type(1){
    margin-left: -10px;
}
.ui-slider-range{
    position: absolute;
    display: block;
    height: 10px;
    background-color: cornsilk;
}

/*panel*/
.panel{
    background-color: cyan;
    box-shadow: 0 1px 5px hsla(0,0%,0%,0.1);
    padding: 1em;
    font-size: 0.8rem;
    color: white;
}
/*modal*/
.modal{
    position: fixed;
    top: 7em;
    margin: auto;
    width: 16em;
    left: 50%;
    margin-left: -8em;
    z-index: 10;
}
.modal:empty{
    display: none;
}

input, button{
    color: crimson;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    background-color: cornsilk;
    display: block;
    width: 100%;
}
input{
    border-bottom: dashed 1px black;
}

button.danger{
    background-color: crimson;
    color: white;
}

hr{
    border: none;
    height: 1px;
    background-color: cornsilk;
}
