
.typeahead,
.tt-query,
.tt-hint {
  background-color: white;
}
.tt-dropdown-menu{
  background-color: white;
  box-shadow: 3px 3px 3px hsla(0,0%,0%,0.1);
  color: black;
}
.tt-suggestion{
}
.tt-suggestion.tt-cursor {
  background-color: cyan;
}

.tt-suggestion p {
  margin: 0;
}