@-webkit-keyframes dropIn {
    0%   {-webkit-transform: translateY(-50px); opacity: 0;}
    20%  {opacity: 1;}
    50%  {-webkit-transform: translateY(0);}
    60%  {-webkit-transform: rotate(-10deg);}
    70%  {-webkit-transform: rotate( 5deg);}
    80%  {-webkit-transform: rotate(-2.5deg);}
    90%  {-webkit-transform: rotate( 1.25deg);}
    100% {-webkit-transform: rotate(0deg);}
}
@-moz-keyframes dropIn {
    0%   {-moz-transform: translateY(-50px); opacity: 0;}
    20%  {opacity: 1;}
    50%  {-moz-transform: translateY(0);}
    60%  {-moz-transform: rotate(-10deg);}
    70%  {-moz-transform: rotate( 5deg);}
    80%  {-moz-transform: rotate(-2.5deg);}
    90%  {-moz-transform: rotate( 1.25deg);}
    100% {-moz-transform: rotate(0deg);}
}
@-o-keyframes dropIn {
    0%   {-o-transform: translateY(-50px); opacity: 0;}
    20%  {opacity: 1;}
    50%  {-o-transform: translateY(0);}
    60%  {-o-transform: rotate(-10deg);}
    70%  {-o-transform: rotate( 5deg);}
    80%  {-o-transform: rotate(-2.5deg);}
    90%  {-o-transform: rotate( 1.25deg);}
    100% {-o-transform: rotate(0deg);}
}
@keyframes dropIn {
    0%   {transform: translateY(-50px); opacity: 0;}
    20%  {opacity: 1;}
    50%  {transform: translateY(0);}
    60%  {transform: rotate(-10deg);}
    70%  {transform: rotate( 5deg);}
    80%  {transform: rotate(-2.5deg);}
    90%  {transform: rotate( 1.25deg);}
    100% {transform: rotate(0deg);}
}


.leaflet-bar{
    box-shadow: none;
    border-radius: 0;
    background: cyan;
    color: white;
}
.leaflet-bar a, #room-map .leaflet-bar a:first-child, #room-map .leaflet-bar a:last-child{
    border-radius: 0;
    background-color: cyan;
    color: white;
}

.marker .flag{
    position: absolute;
    top: -22px;
    left: -1px;
    
    -webkit-transform-origin: 0 20px;
    -webkit-animation: dropIn ease-in 0.5s;
    -webkit-animation-fill-mode: forwards;

    -moz-transform-origin: 0 20px;
    -moz-animation: dropIn ease-in 0.5s;
    -moz-animation-fill-mode: forwards;

    -o-transform-origin: 0 20px;
    -o-animation: dropIn ease-in 0.5s;
    -o-animation-fill-mode: forwards;

    transform-origin: 0 20px;
    animation: dropIn ease-in 0.5s;
    animation-fill-mode: forwards;
}
.marker-pin{
    position: absolute;
    top: -2px;
    left: -2px;
    background-color: hsla(0,0%,0%,0.3);
    width: 4px;
    height: 4px;
    border-radius: 100%;
}

.marker-label{
    position: absolute;
    top: 2px;
    left: -5px;
    -webkit-animation: fadeIn ease-in 0.1s;
    -moz-animation: fadeIn ease-in 0.1s;
    -o-animation: fadeIn ease-in 0.1s;
    animation: fadeIn ease-in 0.1s;
    white-space: nowrap;
    background-color: yellow;
    color: hsla(0,0%,30%,1);
}
.marker-label.other{
    background-color: lightgrey;
}
.marker-label.selected{
    background-color: cyan;
}

.leaflet-div-icon{
    background: none;
    border: none;
}

.crosshair .leaflet-tile{
    cursor: crosshair;
}