

<template name="login">
    {{#unless currentUser}}
        <h2>{{localize 'login'}}</h2>
        <form id="login" class="large">
            <input name="email" type="email" placeholder="email">
            <input name="password" type="password" placeholder="password">
            <button type="submit">{{localize 'login'}}</button>
        </form>
    {{else}}
        <section>
            {{username}}
            <button class="logout">{{localize 'logout'}}</button>
        </section>
    {{/unless}}
</template>

