<template name="miniLogin">
    {{#if currentUser}}
        <small>{{currentUser.username}}</small>
        <button class="logout">logout</button>
    {{else}}
        <form id="login">
            <input type="email" name="email" placeholder="email"><br>
            <input type="password" name="password" placeholder="password"><br>
            <button type="submit">login</button>
        </form>
    {{/if}}
</template>

<template name="login">
    {{#unless currentUser}}
        <h2>login</h2>
        <form id="login">
            email: <input name="email" type="email" placeholder="email"><br>
            password: <input name="password" type="password" placeholder="password"><br>
            <button type="submit">login</button>
        </form>
    {{else}}
        <section>
            you are logged in with: {{username}}
            <button class="logout">logout</button>
        </section>
    {{/unless}}
</template>

