<template name="roomPermissions">
    <header>
        <h3>{{title}}</h3>
    </header>
    <section>
        <header>
            <h4>owner</h4>
            <p>{{owner}}</p>
        </header>
        <form id="transfereOwnership">
            <input name="email" type="email"
                   placeholder="email" autocomplete="off" splellcheck="off"
                   data-source="emails">

            {{!-- {{>inputAutocomplete name="email" settings=auto placeholder="email" autocomplete="off"}} --}}
            <button type="submit">transfere ownership</button>
        </form>
    </section>

    <header>
        <h4>shared with</h4>
        <ul>
            <li>
                <form id="share">
                    <input name="email" type="email"
                           placeholder="email" autocomplete="off" splellcheck="off"
                           data-source="emails">
                    {{!-- {{>inputAutocomplete name="email" settings=auto placeholder="email" autocomplete="off"}} --}}
                    <button type="submit">share</button>
                </form>
            </li>
            {{#each editors}}
            <li>{{username this}}<button class="revoke">revoke</button></li>
            {{/each}}
        </ul>
    </header>
</template>


<template name="userPill">
    <span>{{email}}</span>
</template>