<template name="roomPermissions">
    <header>
        <h3>{{title}}</h3>
    </header>
    <section>
        <header>
            <h4>gazdi<!-- owner --></h4>
            <p>{{owner}}</p>
        </header>
        {{#if isOwner}}
            {{>swapOwner}}
        {{/if}}
    </section>
    {{#if isOwner}}
        <header>
            <h4>szerkesztők<!-- can edit --></h4>
        </header>
        <ul>
            <li>
                {{>shareEdit}}
            </li>
            {{#each editors}}
            <li>{{username this}}<button class="revoke">visszavon<!-- revoke --></button></li>
            {{/each}}
        </ul>
    {{/if}}
    {{#if canEdit}}
        {{>changes}}
    {{/if}}
</template>



<template name="userPill">
    <span>{{email}}</span>
</template>